// Screen sizes
$screen-mobile-sm: 300px;
$screen-mobile-md: 375px;

// Colors
$header-bg-color: #f8f8ff;
$button-txt-color: #ffffff;
$button-color: #5046e5;
$button-hover: #5a50ea;
$border-color: rgb(198, 198, 198);
$footer-bg-color: #e5e7eb;
